.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Project Id :- vue-practice-9feac
# Project Url :- https://vue-practice-9feac.web.app/
# Project Console Url :- https://console.firebase.google.com/u/0/project/vue-practice-9feac/overview